/* reset-password.component.css */
.pill-style {
  background-color: #f88557;
  color: white;
  border-radius: 0;
  padding: 10px 20px;
}

.pill-style.active {
  background-color: #ff7f45;
}

.btn-custom {
  background-color: #f88557;
  border-color: #f88557;
  color: white;
}

.btn-custom:hover {
  background-color: #ff7f45;
  border-color: #ff7f45;
}

@media (max-width: 767px) {
  .pill-style {
    font-size: 12px;
  }

  .container {
    padding: 10px;
  }

  .w-100 {
    width: 100% !important;
  }
}
