<nav class="navbar navbar-expand-lg navbar-dark bg-primary mt-2">
  <div class="container">
    <a class="navbar-brand" href="#">ChatMate</a>
    <!-- Custom Toggle Button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      [attr.aria-expanded]="!isNavbarCollapsed"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list fs-2 text-white"></i> <!-- Bootstrap bi-list icon -->
    </button>
    <div
      class="collapse navbar-collapse"
      [ngClass]="{ show: !isNavbarCollapsed }"
      id="navbarNav"
    >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a
            class="btn btn-get-started nav-link text-white"
            routerLink="/login"
          >
            Get Started
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
