<div class="container-fluid chat-main-container flex-column flex-md-row">
  <!-- Sidebar -->
  <div class="sidebar col-12 col-md-4 border-end p-0">
    <app-sidebar
      [contacts]="contacts"
      [currentUser]="currentUser"
      [groups]="groups"
      (contactSelected)="onContactSelected($event)"
      (groupSelected)="onGroupSelected($event)"
    ></app-sidebar>
  </div>

  <!-- Chat Window -->
  <div class="chat-window col-12 col-md-8 d-flex flex-column">
    <!-- Show Placeholder if No Contact is Selected -->
    <ng-container
      *ngIf="selectedChat && messages[selectedChat._id]; else placeholder"
    >
      <!-- Navbar -->
      <div class="chat-navbar">
        <app-chat-navbar
          [selectedContact]="selectedContact"
          [selectedGroup]="selectedGroup"
          [userStatus]="userStatus"
          (chatDeleted)="fetchChats()"
        >
        </app-chat-navbar>
      </div>

      <!-- Scrollable Messages -->
      <div class="messages-container flex-grow-1 overflow-auto">
        <app-chat-window
          [selectedChat]="selectedChat"
          [currentUser]="currentUser"
          [messages]="messages"
          [typingIndicatorVisible]="typingIndicatorVisible"
          [typingUser]="typingUser"
          [selectedContact]="selectedContact"
          (editMessage)="onEditMessage($event)"
          (replyMessage)="onReplyMessage($event)"
        ></app-chat-window>
      </div>

      <!-- Message Input -->
      <div class="message-input-container">
        <app-message-input
          [selectedContact]="selectedContact"
          [selectedGroup]="selectedGroup"
          [editedMessage]="editedMessage"
          [repliedMessage]="repliedMessage"
          [currentUser]="currentUser"
          (messageSent)="onMessageSent($event)"
          (messageError)="onMessageError($event)"
        ></app-message-input>
      </div>
    </ng-container>

    <!-- Placeholder Template -->
    <ng-template #placeholder>
      <div
        class="placeholder-container d-flex flex-column justify-content-center align-items-center h-100"
      >
        <img
          src="assets/img/start-img.jpg"
          alt="Chat Illustration"
          class="img-fluid"
          style="max-width: 500px"
        />
        <p class="text-muted mt-3">Select a contact to start chatting</p>
      </div>
    </ng-template>
  </div>
</div>
