/* General container for the chat layout */
.chat-main-container {
  display: flex;
  flex-direction: column; /* Stack sidebar and chat window vertically on small screens */
  height: 100vh;
  overflow: hidden; /* Prevent scrolling on the main container */
}

/* Sidebar styles */
.sidebar {
  background-color: #ffffff;
  border-right: 1px solid #eaeaea;
  position: relative; /* Required for responsiveness */
}

/* Chat window container styles */
.chat-window-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; /* Prevent main container from scrolling */
}

/* Chat window - should scroll without affecting the navbar */
.chat-window {
  flex-grow: 1;
  overflow-y: auto; /* Scrollable chat messages */
  background-color: #fff;
  display: flex;
  flex-direction: column; /* Align messages vertically */
  justify-content: flex-end; /* Align to the bottom */
  position: relative; /* Required for positioning of sticky elements */
  width: 68%; /* Ensure it takes full available width */
  padding: 0 10px 0px 10px; /* Adjust padding if necessary */
  margin: 0; /* Remove any unwanted margins */
}

/* Make the message input sticky at the bottom */
.message-input-container {
  position: sticky;
  bottom: 0;
  z-index: 10; /* Ensure input is above the chat window */
}

/* Placeholder for no messages */
.placeholder-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.typing-indicator {
  font-style: italic;
  color: #888;
  padding: 5px;
}
