<div class="container-fluid chat-main-container d-flex">
  <!-- Sidebar -->
  <div class="sidebar col-md-4 border-end">
    <app-sidebar
    [contacts]="contacts"
    (contactSelected)="onContactSelected($event)"
  ></app-sidebar>
  </div>

  <!-- Chat Window -->
  <div class="chat-window col-md-8">
    <ng-container *ngIf="selectedContact; else placeholder">
      <!-- Chat Window -->
      <app-chat-window
      [selectedChat]="selectedChat"
      [messages]="messages[selectedChat?._id] || []"
      [selectedContact]="selectedContact"
    ></app-chat-window>
    <!-- <app-chat-window [messages]="messages" [currentUserId]="currentUserId"></app-chat-window> -->

    

      <!-- Message Input -->
      <app-message-input
      [selectedContact]="selectedContact"
      (messageSent)="onMessageSent($event)"
    ></app-message-input>
    </ng-container>

    <!-- Placeholder -->
    <ng-template #placeholder>
      <div
        class="placeholder-container d-flex flex-column justify-content-center align-items-center h-100 mt-5"
      >
        <img
          src="assets/img/start-img.jpg"
          alt="Chat Illustration"
          class="img-fluid"
          style="max-width: 500px;"
        />
        <p class="text-muted mt-3">Select a contact to start chatting</p>
      </div>
    </ng-template>
  </div>
</div>
