/* Chat Navbar Styling */
.chat-navbar {
  background-color: #ffffff;
  position: sticky;
  top: 0; /* Stick to the top of the page */
  z-index: 10; /* Ensure it's on top of other content */
  background-color: #f8f9fa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.chat-navbar img {
  width: 50px;
  height: 50px;
}

.chat-navbar span {
  font-weight: bold;
}
