/* Chat Navbar Styling */
.chat-navbar {
  position: sticky;
  top: 0; /* Stick to the top of the page */
  z-index: 10; /* Ensure it's on top of other content */
  background-color: #2C3E50;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.chat-navbar img {
  width: 50px;
  height: 50px;
}

.chat-navbar span {
  font-weight: bold;
}
.typing-indicator {
  display: block;
  font-style: italic;
  color: rgb(241, 240, 240);
  animation: fadeInOut 1.5s infinite;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 1; }
}
