/* Sidebar Container */
.sidebar{
  background-color: #ECF0F1;
  height: 100vh;
  overflow-y: auto;
}

/* Search Bar */
.search-bar input {
  font-size: 1rem;
  border-radius: 25px;
}

.search-bar .dropdown-menu {
  min-width: 150px;
}

.list-group-item {
  background-color: #2C3E50;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.2s ease;
}

.list-group-item:hover {
  background-color: #10171f;
  color: white;
}

.selected {
  background-color: #f0f0f0;
  border-left: 4px solid #007bff;
}
